@font-face {
  src: url("../fonts/Grand_Hotel/GrandHotel-Regular.ttf");
  font-family: "GrandHotel Regular";
}

@font-face {
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
  font-family: "Nunito Regular";
}

[data-key] {
  display: none;
}

* {
  font-family: "Nunito Regular", sans-serif;
  /* user-select: none; */
  /* IE11 */
  -ms-user-select: none;
}

pre {
  font-family: "Monaco", monospace;
  color: #555;
  background:  #f1f1f1;
  border:  1px solid #dadada;
  border-radius:  5px;
  margin:  0 auto;
  padding: 0 20px;
  line-height: 25px;
}

body {
  margin:  0;
  padding:  0;
  box-sizing:  content-box;
  overflow:  hidden;
}

code {
  background: #FCE4EC;
  padding:  2px;
  color: #F06292;
  font-family:  monospace;
  font-weight:  bold;
  border-radius: 5px;
}

#nav {
  width:  300px;
  display: inline-block;
  float:  left;
  height: 100vh;
  background: #f1f1f1;
  color: #777;
  margin: 0;
  overflow-y:  auto;
  border-right: 1px solid #e3e3e3;
  font-size: 14px;
}

#nav-header {
  height: 130px;
  text-align:  center;
  font-size:  25px;
  color:  #fff;
  background: linear-gradient(397deg, #9C27B0, #E91E63);
}

#nav-header > span {
  position: relative;
  top: 45px;
  font-family: "GrandHotel Regular", sans-serif;
  font-size:  35px;
}

.nav-breakpoint {
  margin: 20px 5px 0;
}

.nav-label {
  margin: 30px 5px 10px;
}

.nav-item-child {
  padding: 8px 15px;
}

.nav-item-child:hover {
  background: #ddd;
}

.nav-item-child:active {
  color:  #fff;
}

.nav-item:nth-child(n) .nav-item-child:active {
  background: #689F38;
}

.nav-item:nth-child(n+1) .nav-item-child:active {
  background: #EF5350;
}

.nav-item:nth-child(2n+3) .nav-item-child:active {
  background: #795548;
}

.nav-item:nth-child(2n+4) .nav-item-child:active {
  background: #2196F3;
}

.nav-item:nth-child(2n+5) .nav-item-child:active {
  background: #9C27B0;
}

.nav-item:nth-child(2n+6) .nav-item-child:active {
  background: #607D8B;
}

div#nav-footer {
  margin: 80px 0;
  text-align:  center;
}

#main {
  width: 940px;
  height:  100vh;
  padding: 10px 40px;
  margin: 0 auto;
  line-height: 30px;
  font-size:  18px;
}